= render "events/form"
%table.table.events
  - @events.each do |event|
    %tr
      %td=event.occurred_at.to_formatted_s(:short)
      %td=event.activity.text
      %td=event.modifier.try(:text)
      %td
        =link_to event_path(event), method: :delete do
          = fa_icon "times"

= line_chart Event.event_data
